.navbar {
    background-color: black;
    overflow: hidden;
    margin-bottom: 9px;
    border-bottom: 2px solid white;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 3px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    border-bottom: 1px white solid ;
    transition: 0.5s;
}